<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317563334756-30cp6pcmhqmbqqptbt397113qujpjmfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317563334756-30cp6pcmhqmbqqptbt397113qujpjmfe</string>
	<key>API_KEY</key>
	<string>AIzaSyAd6gMSemFaHaK67Y2J2hE_nVoxnTUXH78</string>
	<key>GCM_SENDER_ID</key>
	<string>317563334756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>quynhbkhn.Nhatky</string>
	<key>PROJECT_ID</key>
	<string>nhatky-2f1c0</string>
	<key>STORAGE_BUCKET</key>
	<string>nhatky-2f1c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317563334756:ios:f5b9be21c3ffd22f22ef71</string>
	<key>DATABASE_URL</key>
	<string>https://nhatky-2f1c0.firebaseio.com</string>
</dict>
</plist>