<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003781684000-09d46gi54oopgorc959uljbpfcef79pc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003781684000-09d46gi54oopgorc959uljbpfcef79pc</string>
	<key>API_KEY</key>
	<string>AIzaSyC28x2NFPMBBA8ael7i0vL8jJCRgpHf0pg</string>
	<key>GCM_SENDER_ID</key>
	<string>1003781684000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>quynhbkhn.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-765c4</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-765c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003781684000:ios:1a19407448134bb653b545</string>
	<key>DATABASE_URL</key>
	<string>https://todo-765c4.firebaseio.com</string>
</dict>
</plist>